<!DOCTYPE html>
<html lang="en">
<body>   

    <section class="cover">
        <div class="common">
             <h1>Simply Dummy </h1>
             <p> Sint similique veritatis ratione nulla id architecto reiciendis fuga deleniti. Ab alias laudantium reiciendis laboriosam porro.</p>
             <div class="button">
                <button class="bt">Learn More</button>
            </div>
        
    </div>
    </section>
    <section class="newreleased">
        <h1>New Released</h1>
        <div class="pics">
        <div alt="dualwatch" class="dual"> 
            <%=image_tag("Estore/pics/t4.jpg")%>
            <h2>New Product</h2>
        </div>
        <div alt="jecket" class="jecket">
            <%=image_tag("Estore/pics/shoes2.jpg")%>
            <h2>New Product</h2>
        </div>
        <div alt="watch" class="watch">   
            <%=image_tag("Estore/pics/shoes1.jpg")%> 
            <h2>New Product</h2>
        </div>
        </div>
        <div class="pics1">
          <div alt="flower shirt" class="shirt">  
            <%=image_tag("Estore/shirts.webp")%>
            <h2>New Product</h2>
        </div> 
        <div alt="suit" class="suit"> 
            <%=image_tag("Estore/pics/t3.jpg")%>
            <h2>New Product</h2>
        </div>
        <div alt="halfshirt" class="half">   
            <%=image_tag("Estore/pics/half.jpg")%>
            <h2>New Product</h2>    
        </div>
        </div>
    </section>
    <section class="feactured">
    <h1>New Feactured</h1>
        <div class="pics3">
          <div alt="shose" class="pent">
            <%=image_tag("Estore/pics/t1.jpg")%>  
        </div>  
        <div alt="bag" class="bag">
            <%=image_tag("Estore/pics/t2.jpg")%> 
        </div>
        <div alt="suit" class="black">
            <%=image_tag("Estore/pics/t3.jpg")%> 
        </div>
        <div alt="bags" class="bags">
            <%=image_tag("Estore/pics/bags.jpg")%> 
        </div>
        </div>
    </section>
    <section>
        <div class="logo">
            <div alt="anvil" class="logom">
                <%=image_tag("Estore/pics/lo.png")%>
            </div>
            <div alt="adiads" class="logom">
                <%=image_tag("Estore/pics/lo1.png")%>
            </div>
            <div alt="adiads" class="logom">
                <%=image_tag("Estore/pics/lo2.png")%>
            </div>
            <div alt="adiads" class="logom">
                <%=image_tag("Estore/pics/lo3.png")%>
            </div>
            <div alt="adiads" class="logom">
                <%=image_tag("Estore/pics/lo4.png")%>
            </div>
            <div alt="adiads" class="logom">
                <%=image_tag("Estore/pics/lo5.png")%>
            </div>

        </div>
    </section>
</body>
</html>