<% if @product.pictures.any? %>
    <ul>
      <% @product.pictures.each do |picture| %>
        <% picture.pictures.each do |p| %>
          <%= image_tag(p, style:"width:400px;hight:600") %>
        <% end %>
      <% end %>
    </ul>
  <% end %>


  <p>
    <strong>Title:</strong>
    <%= @product.title %>
  </p>

  <%= @product.description %>

<div>
  <% if policy(@product).edit? %>
    <%= link_to "Edit this product", edit_product_path(@product) %> |
  <% end %>
  <%= link_to "Back to products", products_path %>
  <% if policy(@product).destroy? %>
    <%= button_to "Destroy this product", @product, method: :delete %>
  <% end %>
</div>